#version: '3.8'
# 버전 기입 안해도 상관 없는듯
services:
  spring-batch-app:
    # docker file 사용
    build: .
    container_name: spring-batch
    ports:
      - "9030:9030"
    volumes:
      # 로그 파일을 호스트에 bind mount
      - ./logs:/app/logs

    environment:
      # 환경변수 나중에 수정하기
      # 로그 파일 경로 설정
      - LOGGING_FILE_PATH=/app/logs
      # 타임존 설정
      - TZ=Asia/Seoul
      ## mysql 관련 설정
      ## 일회용이라 노출해도 될듯
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysql-container:3306/batch
      - SPRING_DATASOURCE_USERNAME=Bash
      - SPRING_DATASOURCE_PASSWORD=1234
      - SPRING_DATASOURCE_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver
    networks:
      - blog-network
      - my-network

## 미리 생성된 네트워크
networks:
  blog-network:
    external: true
  my-network:
    external: true

